html,
body {
  /*background-color: #000!important;*/
}
body {
    font-family: 'Roboto', sans-serif!important;
}
#liste {
    padding: 5rem 10%;
}

.rond {
    border-radius: 50% !important;
}

.ul {
    list-style-type: none;
}

.ajouter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 8px #aaa;
    font-weight: bold;
    font-size: 1em;
    border-radius: 50%;
    color: #FFFFFF;
    cursor: pointer;
    right: 1px;
    bottom: 1px;
}

.flr {
    float: right;
}

.mrs {
    margin-right: 1rem;
}

.mbs {
    margin-bottom: 1rem;
}

.mts {
  margin-top: 3%;
}

.fixe {
    position: fixed;
}

.bg.bleu {
    background-color: #0d71bb !important;
}
.bg.balck {
  background-color: #000;
}
.bg.blackgrey {
  background-color: #1b1b1b;
}
.bg.yellow {
  background-color: #f90;
}

.bg.bleu i {
    color: #FFFFFF !important;
}
.bg.bleu.ui.menu {
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.60);
}
.fsxs {
    font-size: .75em;
}

.bg-foncer,
.bg-foncer .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}

.rouge {
    color: #DB2828;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .75s
}
.fade-enter, .fade-leave /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
}
.border.gris {
  border-color: #313131;
}
.border.solid {
  border-style: solid;
}
.cursor.pointer {
  cursor: pointer;
}
